                                                                                                                                                                                                                                                                                                                                                  /*------------------
/*----------------
base styles
-------------------*/


body {
		display: flex;
		flex-direction: column;
	  font-family: Indie Flower, cursive;
	  color: #e4e5db;
	}


header {
	Background: cover;
}

h1 {
		font-family: Indie Flower, cursive;
		color: #e4e5db;
		font-size: 3.5rem;
		text-align: center;
		font-weight: normal;
		padding-left: 40px;
		padding-bottom: 10px;
}


h2 {
		font-family: Indie Flower, cursive;
	  color: #e4e5db;
	  font-size: 1em;
	  text-align: center;
}

h3 {
		font-family: Indie Flower, cursive;
		color:#2f5241;
		text-align: right;
}
h4 {
		font-family: Indie Flower, cursive;
		color:#2f5241;
}

p {
		font-family: Indie Flower, cursive;
		color:#2f5241;
		font-size: 1.5rem;
		text-align: center;
}


/* ---------------------------------------------------
main-styles selecting all classes defined in html
-------------------------------------------------- */

.main-header {
	    background-color: #2f5241;
	    color: #e4e5db;
			font-family: Indie Flower, cursive;
			font-size: 1.5rem;
	    padding: 1rem;
			background-image: url("../img/dandelion.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
}

.img-circle {
	   border-radius: 50%;
	   float: left;
    }

.home {
	color: #2f5241;
}

.info {
		 color: #2f5241;
		 font-size: 1.5rem;
		 text-align: center;
		 padding-top: 2rem;
		 padding-bottom: 2rem;
		 background-color: #f0f8ff;
	}

	.link {
		color: #2f5241;
	}

	/*--styling int he foundations flex-container--*/

.flex-container {
		background-color: #f0f8ff;
		font-size: 1.5rem;;
		color #2f5241;
}

/*---on future plans page, minimal styling around inmmages--*/

.vein {
		box-shadow: 0px 12px 20px 4px rgb(153, 115, 0);
		border-radius: 30px;
}

/*-----begin dropdown button  beginning with the -----*/
.container {
    overflow: hidden;
    background-color: #263300;
    font-family: 'Indie Flower', cursive;
}

.container  a {
    float: left;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		border-radius: 5px 5px 5px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 1.25rem;
    border: none;
    outline: none;
    color: #f9f9f9;
    padding: 16px 12px;
    background-color: inherit;
}

.container  a:hover, .dropdown:hover .dropbtn {
    background-color: #997300;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #608000;
    min-width: 160px;
    box-shadow: 0px 12px 16px 0px rgb(153, 115, 0);
    z-index: 1;
		border-radius: 5px 5px 5px;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
		border-radius: 5px 5px 5px;
}

.dropdown-content a:hover {
    background-color: #b38600;
}

.show {
    display: block;
}
/*-------end drop down--------*//*--foundations flex-container--*/
.flex-container {
		float: center;
		color: #152a38;
		padding-top: 0;
		padding-bottom: 5rem;
		font-size: 1.5rem;
}

/*-- western and eastern pages - will be pop up modal--

working on this sitll

/*-- end modal popup--*/

.floating-box {
		color: #2f5241;
		float: left;
    width: 200px;
    height: 75px;
    margin: 10px;
    border: 2px solid #2f5241;2
}

.pic {
	padding: 10 5 10;
}

.info {
	color: #2f5241;
	font-size: 1rem;
}

.form {
		max-width: 25rem;
		border-radius: 5px 5px 5px;
		display: block;
		margin: auto;
		padding: 25px 5px;
}
.open{
	color: #2f5241;
}

.button {
	color: #f9f9f9;
	background-color: #b38600;


.footer {
		background-color: #2f5241;
		color: #e4e5db;
}

/* ---------------------------
pseudo-classes links and hover etc
------------------ */

a:link {
	  color:  #2f5241;
	  text-decoration: none;
}

a:visited {
	color:  #e4e5db;
}

a:hover {
  	color: #e4e5db;
}


/* =================================
  Media Queries
==================================== */


@media (min-width: 769px) {

	.container {
			min-width: 100%;
			margin: 0px auto;
	}
}
/*-- added in case image link in mainheader in header is broken __*/
	.wrap {
			min-height: 100vh;
			color: #2f5241;
}

  @media (min-width: 1350px) {

  .container {
  		min- width: 80%;
  		max-width: 1350px;
  	}
