                                                                                                                                                                                                                                                                                                                                                  /*------------------
/*----------------
base styles
-------------------*/


body {
		display: flex;
		flex-direction: column;
	  font-family: Indie Flower, cursive;
	  color: #e4e5db;
	}


header {
	Background: cover;
}

h1 {
		font-family: Indie Flower, cursive;
		color: #e4e5db;
		font-size: 3.5rem;
		text-align: center;
		font-weight: normal;
		padding-left: 40px;
		padding-bottom: 10px;
}


h2 {
		font-family: Indie Flower, cursive;
	  color: #e4e5db;
	  font-size: 1em;
	  text-align: center;
}

h3 {
		font-family: Indie Flower, cursive;
		color:#2f5241;
		text-align: right;
}
h4 {
		font-family: Indie Flower, cursive;
		color:#2f5241;
}

p {
			font-family: Indie Flower, cursive;
			color:#2f5241;
			font-size: 1.5rem;
			text-align: center;
}


/* ---------------------------------------------------
main-styles selecting all classes defined in html
-------------------------------------------------- */

.main-header {
	    background-color: #2f5241;
	    color: #e4e5db;
			font-family: Indie Flower, cursive;
			font-size: 1.5rem;
	    padding: 1rem;
			background-image: url("../img/dandelion.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
}

.img-circle {
	   border-radius: 50%;
	   float: left;
    }

.home {
	color: #2f5241;
}

.info {
		 color: #2f5241;
		 font-size: 1.5rem;
		 text-align: center;
		 padding-top: 2rem;
		 padding-bottom: 2rem;
		 background-color: #f0f8ff;
	}

	.link {
		color: #2f5241;
	}

/*---on future plans page, minimal styling around inmmages--*/

.vein {
			box-shadow: 0px 12px 20px 4px rgb(153, 115, 0);
			border-radius: 30px;
}

/*-----dropdown button I did this for me so I would remember "what I styled"-----*/
.container {
	    overflow: hidden;
	    background-color: #263300;
	    font-family: 'Indie Flower', cursive;
}

.container  a {
	    float: left;
	    font-size: 1.25rem;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;

}

.dropdown {
	    float: right;
			margin-right: 5rem;
	    overflow: hidden;
}

.dropdown .dropbtn {
	    cursor: pointer;
	    font-size: 1.25rem;
	    border: none;
	    outline: none;
	    color: #f9f9f9;
	    padding: 16px 12px;
	    background-color: inherit;
}

.container  a:hover, .dropdown:hover .dropbtn {
    	background-color: #997300;
}

.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #608000;
	    min-width: 160px;
	    box-shadow: 0px 12px 16px 0px rgb(153, 115, 0);
	    z-index: 1;
			border-radius: 5px 5px 5px;
}
/*--inside the dropdown styling--*/
.dropdown-content a {
	    float: none;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
			border-radius: 5px 5px 5px;
}

.dropdown-content a:hover {
  	  background-color: #b38600;
}

.show {
    	display: block;
}
/*-------end drop down--------*/
/*--begin foundations flex-container--*/

.flex-container {
			background-color: #f0f8ff;
			font-size: 1.5rem;;
			color #152a38;
			float: center;
			padding-left: 1rem;
			padding-right: 1rem;
			padding-bottom: 3rem;
			font-size: 1.5rem;
			text-align: center;
/*-- see media querie comments--*/

			@media screen and (max-width: 39.937em){
				.flex-container {
					min-width: 0em;
					max-width: 39.937em;
		}
	}
}


/*-- western and eastern pages - will be pop up modal--

working on this sitll

/*-- end modal popup--*/

.floating-box {
			color: #2f5241;
			float: left;
	    width: 200px;
	    height: 75px;
	    margin: 10px;
	    border: 2px solid #2f5241;2
}

.pic {
			padding: 10 5 10;
}

.info {
			color: #2f5241;
			font-size: 1rem;
}
/*--found on contact us and future plans page--*//
.form {

}

/*-- this is for the button on the contact forms About and Future pages-->
.button {
			color: #f9f9f9;
			background-color: #b38600;
}

.main-footer {
			background-color: #2f5241;
			color: #e4e5db;
}

/* ---------------------------
pseudo-classes links and hover etc
------------------ */

a:link {
		  color:  #2f5241;
		  text-decoration: none;
}

a:visited {
			color:  #e4e5db;
}

a:hover {
  		color: #e4e5db;
}


/* =================================
  Media Queries
==================================== */
/*-- small only http://foundation.zurb.com/sites/docs/media-queries.html, I typed these in per the video but
every media querie imaginable downloads with foundation these can be inserted into a class per the video...I did this on my future page to get it to respond more nicely--*/
@media screen and (max-width: 39.937em){
	 min-width: 0em;
	 max-width: 39.937em;
}

@media (min-width: 769px) {

	.container {
			min-width: 100%;
			margin: 0px auto;
	}
}

@media screen and (min-width: 40em) (max-width: 63.9375em){
	 min-width: 40em;
	 max-width: 63.9375em;
}

/*-- added in case image link in mainheader in header is broken http://foundation.zurb.com/sites/docs/media-queries.html__*/
	.wrap {
			min-height: 100vh;
			color: #2f5241;
}

  @media (min-width: 1350px) {

  .container {
  		min- width: 80%;
  		max-width: 1350px;
  	}
